html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logmod {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.logmod::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  margin: 120px auto;
}
.logmod__close {
  display: block;
  position: absolute;
  right: 50%;
  background: url("http://imgh.us/close_white.svg") no-repeat scroll 0% 0% transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -72px;
  margin-right: -24px;
  width: 48px;
  height: 48px;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.logmod__tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.logmod__tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.logmod__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logmod__tabs::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tabs li.current a {
  background: #FFF;
  color: #333;
}
.logmod__tabs li a {
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
  background: #D2D8D8;
  line-height: 72px;
  height: 72px;
  text-decoration: none;
  color: #809191;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.logmod__tabs li a:focus {
  outline: dotted 1px;
}
.logmod__heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.logmod__heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 48px;
}
.logmod__form {
  border-top: 1px solid #e5e5e5;
}
.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect__icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform__actions {
  padding: 15px;
  font-size: 14px;
}
.simform__actions::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions .sumbit {
  height: 48px;
  float: right;
  color: #FFF;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  background: #4CAF50;
  margin-top: 7px;
}
.simform__actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
.simform__actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs {
  border-bottom: 1px solid #E5E5E5;
}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}
.sminputs .input input {
  postion: relative;
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

.btn, .simform__actions .sumbit {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;
  min-width: 90px;
  padding: 10px 14px;
}
.btn.full, .simform__actions .full.sumbit {
  width: 100%;
}
.btn.lg, .simform__actions .lg.sumbit {
  min-width: 125px;
  padding: 17px 14px;
  font-size: 22px;
  line-height: 1.3;
}
.btn.sm, .simform__actions .sm.sumbit {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.xs, .simform__actions .xs.sumbit {
  min-width: 45px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn.circle, .simform__actions .circle.sumbit {
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  line-height: 1;
  padding: 0;
  border-radius: 50%;
}
.btn.circle.lg, .simform__actions .circle.lg.sumbit {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn.circle.sm, .simform__actions .circle.sm.sumbit {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn.circle.xs, .simform__actions .circle.xs.sumbit {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn.red, .simform__actions .red.sumbit {
  background: #f44336;
  color: #FFF;
}
.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {
  background-color: #ef1d0d;
}
.btn.red:hover, .simform__actions .red.sumbit:hover {
  background-color: #f32c1e;
}
.btn.pink, .simform__actions .pink.sumbit {
  background: #E91E63;
  color: #FFF;
}
.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {
  background-color: #c61350;
}
.btn.pink:hover, .simform__actions .pink.sumbit:hover {
  background-color: #d81558;
}
.btn.purple, .simform__actions .purple.sumbit {
  background: #9C27B0;
  color: #FFF;
}
.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {
  background-color: #7b1f8a;
}
.btn.purple:hover, .simform__actions .purple.sumbit:hover {
  background-color: #89229b;
}
.btn.deep-purple, .simform__actions .deep-purple.sumbit {
  background: #673AB7;
  color: #FFF;
}
.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {
  background-color: #532f94;
}
.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {
  background-color: #5c34a4;
}
.btn.indigo, .simform__actions .indigo.sumbit {
  background: #3F51B5;
  color: #FFF;
}
.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {
  background-color: #334293;
}
.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {
  background-color: #3849a2;
}
.btn.blue, .simform__actions .blue.sumbit {
  background: #2196F3;
  color: #FFF;
}
.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {
  background-color: #0c7fda;
}
.btn.blue:hover, .simform__actions .blue.sumbit:hover {
  background-color: #0d8aee;
}
.btn.light-blue, .simform__actions .light-blue.sumbit {
  background: #03A9F4;
  color: #FFF;
}
.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {
  background-color: #028ac7;
}
.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {
  background-color: #0398db;
}
.btn.cyan, .simform__actions .cyan.sumbit {
  background: #00BCD4;
  color: #FFF;
}
.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {
  background-color: #0093a6;
}
.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {
  background-color: #00a5bb;
}
.btn.teal, .simform__actions .teal.sumbit {
  background: #009688;
  color: #FFF;
}
.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {
  background-color: #00685e;
}
.btn.teal:hover, .simform__actions .teal.sumbit:hover {
  background-color: #007d71;
}
.btn.green, .simform__actions .green.sumbit {
  background: #4CAF50;
  color: #FFF;
}
.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {
  background-color: #3e8f41;
}
.btn.green:hover, .simform__actions .green.sumbit:hover {
  background-color: #449d48;
}
.btn.light-green, .simform__actions .light-green.sumbit {
  background: #8BC34A;
  color: #FFF;
}
.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {
  background-color: #74a838;
}
.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {
  background-color: #7eb73d;
}
.btn.lime, .simform__actions .lime.sumbit {
  background: #CDDC39;
  color: #FFF;
}
.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {
  background-color: #b6c423;
}
.btn.lime:hover, .simform__actions .lime.sumbit:hover {
  background-color: #c6d626;
}
.btn.yellow, .simform__actions .yellow.sumbit {
  background: #FFEB3B;
  color: #FFF;
}
.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {
  background-color: #ffe60d;
}
.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {
  background-color: #ffe822;
}
.btn.amber, .simform__actions .amber.sumbit {
  background: #FFC107;
  color: #FFF;
}
.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {
  background-color: #d8a200;
}
.btn.amber:hover, .simform__actions .amber.sumbit:hover {
  background-color: #edb100;
}
.btn.orange, .simform__actions .orange.sumbit {
  background: #FF9800;
  color: #FFF;
}
.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {
  background-color: #d17d00;
}
.btn.orange:hover, .simform__actions .orange.sumbit:hover {
  background-color: #e68900;
}
.btn.deep-orange, .simform__actions .deep-orange.sumbit {
  background: #FF5722;
  color: #FFF;
}
.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {
  background-color: #f33a00;
}
.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {
  background-color: #ff4409;
}
.btn.brown, .simform__actions .brown.sumbit {
  background: #795548;
  color: #FFF;
}
.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {
  background-color: #5c4137;
}
.btn.brown:hover, .simform__actions .brown.sumbit:hover {
  background-color: #694a3e;
}
.btn.grey, .simform__actions .grey.sumbit {
  background: #9E9E9E;
  color: #FFF;
}
.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {
  background-color: #878787;
}
.btn.grey:hover, .simform__actions .grey.sumbit:hover {
  background-color: #919191;
}
.btn.blue-grey, .simform__actions .blue-grey.sumbit {
  background: #607D8B;
  color: #FFF;
}
.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {
  background-color: #4d6570;
}
.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {
  background-color: #566f7c;
}

.special {
  color: #f44336;
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #f00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(https://basehold.it/i/24);
}
.errorField{
    position: absolute;
    z-index: 11;
    left:90px;
    width: 70%;
    height: 10%;
    padding: .80em 3.5em;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .80rem;
}
@keyframes fontalicious {
    0% {
        font-family: helvetica;
    }
    10% {
        font-family: times;
    }
    20% {
        font-family: fantasy;
    }
    30% {
        font-family: monospace;
    }
    40% {
        font-family: Palatino;
    }
    50% {
        font-family: Tahoma;
    }
    60% {
        font-family: impact;
    }
    70% {
        font-family: cursive;
    }
    80% {
        font-family: monospace;
    }
    90% {
        font-family: fantasy;
    }
    99% {
        font-family: futura;
    }
    100% {
    }
}

.fontalicious {
    animation-name: fontalicious;
    animation-iteration-count: 4;
    animation-duration: 1s;
}

/**
 * Animations
 */
.animated {
    animation-fill-mode: both;
}

/**
 * Intensifies
 * - Slowly increases in shaking and madness
 */
@keyframes intensifies {
    0% {
        transform: translate(1px, 1px) scale(1);
    }
    1% {
        transform: translate(-1px, -1px) scale(1.02);
    }
    2% {
        transform: translate(1px, 2px) scale(1.04);
    }
    3% {
        transform: translate(-3px, -1px) scale(1.06);
    }
    4% {
        transform: translate(3px, 3px) scale(1.08);
    }
    5% {
        transform: translate(-4px, -5px) scale(1.1);
    }
    6% {
        transform: translate(4px, 4px) scale(1.12);
    }
    7% {
        transform: translate(-1px, -2px) scale(1.14);
    }
    8% {
        transform: translate(5px, 1px) scale(1.16);
    }
    9% {
        transform: translate(-4px, -10px) scale(1.18);
    }
    10% {
        transform: translate(7px, 7px) scale(1.2);
    }
    11% {
        transform: translate(-8px, -7px) scale(1.22);
    }
    12% {
        transform: translate(1px, 8px) scale(1.24);
    }
    13% {
        transform: translate(-2px, -10px) scale(1.26);
    }
    14% {
        transform: translate(14px, 7px) scale(1.28);
    }
    15% {
        transform: translate(-14px, -6px) scale(1.3);
    }
    16% {
        transform: translate(2px, 6px) scale(1.32);
    }
    17% {
        transform: translate(-16px, -4px) scale(1.34);
    }
    18% {
        transform: translate(11px, 12px) scale(1.36);
    }
    19% {
        transform: translate(-4px, -17px) scale(1.38);
    }
    20% {
        transform: translate(12px, 7px) scale(1.4);
    }
    21% {
        transform: translate(-11px, -13px) scale(1.42);
    }
    22% {
        transform: translate(4px, 22px) scale(1.44);
    }
    23% {
        transform: translate(-13px, -24px) scale(1.46);
    }
    24% {
        transform: translate(23px, 5px) scale(1.48);
    }
    25% {
        transform: translate(-15px, -16px) scale(1.5);
    }
    26% {
        transform: translate(16px, 7px) scale(1.52);
    }
    27% {
        transform: translate(-25px, -11px) scale(1.54);
    }
    28% {
        transform: translate(25px, 20px) scale(1.56);
    }
    29% {
        transform: translate(-16px, -20px) scale(1.58);
    }
    30% {
        transform: translate(12px, 23px) scale(1.6);
    }
    31% {
        transform: translate(-15px, -18px) scale(1.62);
    }
    32% {
        transform: translate(3px, 27px) scale(1.64);
    }
    33% {
        transform: translate(-18px, -14px) scale(1.66);
    }
    34% {
        transform: translate(14px, 9px) scale(1.68);
    }
    35% {
        transform: translate(-28px, -23px) scale(1.7);
    }
    36% {
        transform: translate(12px, 30px) scale(1.72);
    }
    37% {
        transform: translate(-25px, -27px) scale(1.74);
    }
    38% {
        transform: translate(39px, 1px) scale(1.76);
    }
    39% {
        transform: translate(-10px, -32px) scale(1.78);
    }
    40% {
        transform: translate(15px, 35px) scale(1.8);
    }
    41% {
        transform: translate(-27px, -15px) scale(1.82);
    }
    42% {
        transform: translate(15px, 41px) scale(1.84);
    }
    43% {
        transform: translate(-39px, -4px) scale(1.86);
    }
    44% {
        transform: translate(34px, 19px) scale(1.88);
    }
    45% {
        transform: translate(-4px, -45px) scale(1.9);
    }
    46% {
        transform: translate(38px, 7px) scale(1.92);
    }
    47% {
        transform: translate(-21px, -1px) scale(1.94);
    }
    48% {
        transform: translate(19px, 6px) scale(1.96);
    }
    49% {
        transform: translate(-49px, -25px) scale(1.98);
    }
    50% {
        transform: translate(25px, 25px) scale(2);
    }
    51% {
        transform: translate(-33px, -24px) scale(2.02);
    }
    52% {
        transform: translate(45px, 36px) scale(2.04);
    }
    53% {
        transform: translate(-44px, -7px) scale(2.06);
    }
    54% {
        transform: translate(30px, 28px) scale(2.08);
    }
    55% {
        transform: translate(-4px, -27px) scale(2.1);
    }
    56% {
        transform: translate(17px, 18px) scale(2.12);
    }
    57% {
        transform: translate(-4px, -12px) scale(2.14);
    }
    58% {
        transform: translate(1px, 50px) scale(2.16);
    }
    59% {
        transform: translate(-8px, -36px) scale(2.18);
    }
    60% {
        transform: translate(29px, 26px) scale(2.2);
    }
    61% {
        transform: translate(-24px, -21px) scale(2.22);
    }
    62% {
        transform: translate(60px, 21px) scale(2.24);
    }
    63% {
        transform: translate(-9px, -36px) scale(2.26);
    }
    64% {
        transform: translate(44px, 1px) scale(2.28);
    }
    65% {
        transform: translate(-38px, -40px) scale(2.3);
    }
    66% {
        transform: translate(42px, 33px) scale(2.32);
    }
    67% {
        transform: translate(-17px, -45px) scale(2.34);
    }
    68% {
        transform: translate(1px, 17px) scale(2.36);
    }
    69% {
        transform: translate(-20px, -62px) scale(2.38);
    }
    70% {
        transform: translate(6px, 53px) scale(2.4);
    }
    71% {
        transform: translate(-64px, -14px) scale(2.42);
    }
    72% {
        transform: translate(67px, 48px) scale(2.44);
    }
    73% {
        transform: translate(-47px, -39px) scale(2.46);
    }
    74% {
        transform: translate(5px, 62px) scale(2.48);
    }
    75% {
        transform: translate(-29px, -50px) scale(2.5);
    }
    76% {
        transform: translate(5px, 60px) scale(2.52);
    }
    77% {
        transform: translate(-51px, -76px) scale(2.54);
    }
    78% {
        transform: translate(58px, 16px) scale(2.56);
    }
    79% {
        transform: translate(-79px, -32px) scale(2.58);
    }
    80% {
        transform: translate(41px, 22px) scale(2.6);
    }
    81% {
        transform: translate(-43px, -48px) scale(2.62);
    }
    82% {
        transform: translate(35px, 65px) scale(2.64);
    }
    83% {
        transform: translate(-65px, -84px) scale(2.66);
    }
    84% {
        transform: translate(62px, 73px) scale(2.68);
    }
    85% {
        transform: translate(-48px, -40px) scale(2.7);
    }
    86% {
        transform: translate(30px, 25px) scale(2.72);
    }
    87% {
        transform: translate(-16px, -46px) scale(2.74);
    }
    88% {
        transform: translate(81px, 73px) scale(2.76);
    }
    89% {
        transform: translate(-79px, -76px) scale(2.78);
    }
    90% {
        transform: translate(55px, 62px) scale(2.8);
    }
    91% {
        transform: translate(-44px, -56px) scale(2.82);
    }
    92% {
        transform: translate(46px, 91px) scale(2.84);
    }
    93% {
        transform: translate(-48px, -34px) scale(2.86);
    }
    94% {
        transform: translate(18px, 10px) scale(2.88);
    }
    95% {
        transform: translate(-11px, -4px) scale(2.9);
    }
    96% {
        transform: translate(14px, 80px) scale(2.92);
    }
    97% {
        transform: translate(-29px, -54px) scale(2.94);
    }
    98% {
        transform: translate(51px, 95px) scale(2.96);
    }
    99% {
        transform: translate(-71px, -4px) scale(2.98);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.intensifies {
    animation-timing-function: ease-out;
    transform-origin: bottom center;
    animation-name: intensifies;
    animation-duration: 5s;
}

/**
 * Animations
 */
.animated {
    animation-fill-mode: both;
}

/**
 * Intensifies
 * - Slowly increases in shaking and madness
 */
@keyframes shakeit {
    0% {
        transform: translate(0px, 0) rotate(0deg);
    }
    1% {
        transform: translate(-2px, 0) rotate(-1deg);
    }
    2% {
        transform: translate(4px, 0) rotate(2deg);
    }
    3% {
        transform: translate(-6px, 0) rotate(-3deg);
    }
    4% {
        transform: translate(8px, 0) rotate(4deg);
    }
    5% {
        transform: translate(-10px, 0) rotate(-5deg);
    }
    6% {
        transform: translate(12px, 0) rotate(6deg);
    }
    7% {
        transform: translate(-14px, 0) rotate(-7deg);
    }
    8% {
        transform: translate(16px, 0) rotate(8deg);
    }
    9% {
        transform: translate(-18px, 0) rotate(-9deg);
    }
    10% {
        transform: translate(20px, 0) rotate(8deg);
    }
    11% {
        transform: translate(-22px, 0) rotate(-8deg);
    }
    12% {
        transform: translate(24px, 0) rotate(8deg);
    }
    13% {
        transform: translate(-26px, 0) rotate(-8deg);
    }
    14% {
        transform: translate(28px, 0) rotate(8deg);
    }
    15% {
        transform: translate(-30px, 0) rotate(-8deg);
    }
    16% {
        transform: translate(32px, 0) rotate(8deg);
    }
    17% {
        transform: translate(-34px, 0) rotate(-8deg);
    }
    18% {
        transform: translate(36px, 0) rotate(8deg);
    }
    19% {
        transform: translate(-38px, 0) rotate(-8deg);
    }
    20% {
        transform: translate(40px, 0) rotate(8deg);
    }
    21% {
        transform: translate(-42px, 0) rotate(-8deg);
    }
    22% {
        transform: translate(44px, 0) rotate(8deg);
    }
    23% {
        transform: translate(-46px, 0) rotate(-8deg);
    }
    24% {
        transform: translate(48px, 0) rotate(8deg);
    }
    25% {
        transform: translate(-50px, 0) rotate(-8deg);
    }
    26% {
        transform: translate(52px, 0) rotate(8deg);
    }
    27% {
        transform: translate(-54px, 0) rotate(-8deg);
    }
    28% {
        transform: translate(56px, 0) rotate(8deg);
    }
    29% {
        transform: translate(-58px, 0) rotate(-8deg);
    }
    30% {
        transform: translate(60px, 0) rotate(8deg);
    }
    31% {
        transform: translate(-62px, 0) rotate(-8deg);
    }
    32% {
        transform: translate(64px, 0) rotate(8deg);
    }
    33% {
        transform: translate(-66px, 0) rotate(-8deg);
    }
    34% {
        transform: translate(68px, 0) rotate(8deg);
    }
    35% {
        transform: translate(-70px, 0) rotate(-8deg);
    }
    36% {
        transform: translate(72px, 0) rotate(8deg);
    }
    37% {
        transform: translate(-74px, 0) rotate(-8deg);
    }
    38% {
        transform: translate(76px, 0) rotate(8deg);
    }
    39% {
        transform: translate(-78px, 0) rotate(-8deg);
    }
    40% {
        transform: translate(80px, 0) rotate(8deg);
    }
    41% {
        transform: translate(-82px, 0) rotate(-8deg);
    }
    42% {
        transform: translate(84px, 0) rotate(8deg);
    }
    43% {
        transform: translate(-86px, 0) rotate(-8deg);
    }
    44% {
        transform: translate(88px, 0) rotate(8deg);
    }
    45% {
        transform: translate(-90px, 0) rotate(-8deg);
    }
    46% {
        transform: translate(92px, 0) rotate(8deg);
    }
    47% {
        transform: translate(-94px, 0) rotate(-8deg);
    }
    48% {
        transform: translate(96px, 0) rotate(8deg);
    }
    49% {
        transform: translate(-98px, 0) rotate(-8deg);
    }
    50% {
        transform: translate(100px, 0) rotate(8deg);
    }
    51% {
        transform: translate(-102px, 0) rotate(-8deg);
    }
    52% {
        transform: translate(104px, 0) rotate(8deg);
    }
    53% {
        transform: translate(-106px, 0) rotate(-8deg);
    }
    54% {
        transform: translate(108px, 0) rotate(8deg);
    }
    55% {
        transform: translate(-110px, 0) rotate(-8deg);
    }
    56% {
        transform: translate(112px, 0) rotate(8deg);
    }
    57% {
        transform: translate(-114px, 0) rotate(-8deg);
    }
    58% {
        transform: translate(116px, 0) rotate(8deg);
    }
    59% {
        transform: translate(-118px, 0) rotate(-8deg);
    }
    60% {
        transform: translate(120px, 0) rotate(8deg);
    }
    61% {
        transform: translate(-122px, 0) rotate(-8deg);
    }
    62% {
        transform: translate(124px, 0) rotate(8deg);
    }
    63% {
        transform: translate(-126px, 0) rotate(-8deg);
    }
    64% {
        transform: translate(128px, 0) rotate(8deg);
    }
    65% {
        transform: translate(-130px, 0) rotate(-8deg);
    }
    66% {
        transform: translate(132px, 0) rotate(8deg);
    }
    67% {
        transform: translate(-134px, 0) rotate(-8deg);
    }
    68% {
        transform: translate(136px, 0) rotate(8deg);
    }
    69% {
        transform: translate(-138px, 0) rotate(-8deg);
    }
    70% {
        transform: translate(140px, 0) rotate(8deg);
    }
    71% {
        transform: translate(-142px, 0) rotate(-8deg);
    }
    72% {
        transform: translate(144px, 0) rotate(8deg);
    }
    73% {
        transform: translate(-146px, 0) rotate(-8deg);
    }
    74% {
        transform: translate(148px, 0) rotate(8deg);
    }
    75% {
        transform: translate(-150px, 0) rotate(-8deg);
    }
    76% {
        transform: translate(152px, 0) rotate(8deg);
    }
    77% {
        transform: translate(-154px, 0) rotate(-8deg);
    }
    78% {
        transform: translate(156px, 0) rotate(8deg);
    }
    79% {
        transform: translate(-158px, 0) rotate(-8deg);
    }
    80% {
        transform: translate(160px, 0) rotate(8deg);
    }
    81% {
        transform: translate(-162px, 0) rotate(-8deg);
    }
    82% {
        transform: translate(164px, 0) rotate(8deg);
    }
    83% {
        transform: translate(-166px, 0) rotate(-8deg);
    }
    84% {
        transform: translate(168px, 0) rotate(8deg);
    }
    85% {
        transform: translate(-170px, 0) rotate(-8deg);
    }
    86% {
        transform: translate(172px, 0) rotate(8deg);
    }
    87% {
        transform: translate(-174px, 0) rotate(-8deg);
    }
    88% {
        transform: translate(176px, 0) rotate(8deg);
    }
    89% {
        transform: translate(-178px, 0) rotate(-8deg);
    }
    90% {
        transform: translate(180px, 0) rotate(8deg);
    }
    91% {
        transform: translate(-182px, 0) rotate(-8deg);
    }
    92% {
        transform: translate(184px, 0) rotate(8deg);
    }
    93% {
        transform: translate(-186px, 0) rotate(-8deg);
    }
    94% {
        transform: translate(188px, 0) rotate(8deg);
    }
    95% {
        transform: translate(-190px, 0) rotate(-8deg);
    }
    96% {
        transform: translate(192px, 0) rotate(8deg);
    }
    97% {
        transform: translate(-194px, 0) rotate(-8deg);
    }
    98% {
        transform: translate(196px, 0) rotate(8deg);
    }
    99% {
        transform: translate(-198px, 0) rotate(-8deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.shakeit {
    animation-timing-function: ease-in;
    transform-origin: bottom center;
    animation-name: shakeit;
    animation-duration: 12s;
}

@keyframes strobe {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    1% {
        opacity: 0;
        transform: scale(1.1);
    }
    2% {
        opacity: 1;
        transform: scale(1.2);
    }
    3% {
        opacity: 0;
        transform: scale(1.3);
    }
    4% {
        opacity: 1;
        transform: scale(1.4);
    }
    5% {
        opacity: 0;
        transform: scale(1.5);
    }
    6% {
        opacity: 1;
        transform: scale(1.6);
    }
    7% {
        opacity: 0;
        transform: scale(1.7);
    }
    8% {
        opacity: 1;
        transform: scale(1.8);
    }
    9% {
        opacity: 0;
        transform: scale(1.9);
    }
    10% {
        opacity: 1;
        transform: scale(2);
    }
    11% {
        opacity: 0;
        transform: scale(2.1);
    }
    12% {
        opacity: 1;
        transform: scale(2.2);
    }
    13% {
        opacity: 0;
        transform: scale(2.3);
    }
    14% {
        opacity: 1;
        transform: scale(2.4);
    }
    15% {
        opacity: 0;
        transform: scale(2.5);
    }
    16% {
        opacity: 1;
        transform: scale(2.6);
    }
    17% {
        opacity: 0;
        transform: scale(2.7);
    }
    18% {
        opacity: 1;
        transform: scale(2.8);
    }
    19% {
        opacity: 0;
        transform: scale(2.9);
    }
    20% {
        opacity: 1;
        transform: scale(3);
    }
    21% {
        opacity: 0;
        transform: scale(3.1);
    }
    22% {
        opacity: 1;
        transform: scale(3.2);
    }
    23% {
        opacity: 0;
        transform: scale(3.3);
    }
    24% {
        opacity: 1;
        transform: scale(3.4);
    }
    25% {
        opacity: 0;
        transform: scale(3.5);
    }
    26% {
        opacity: 1;
        transform: scale(3.6);
    }
    27% {
        opacity: 0;
        transform: scale(3.7);
    }
    28% {
        opacity: 1;
        transform: scale(3.8);
    }
    29% {
        opacity: 0;
        transform: scale(3.9);
    }
    30% {
        opacity: 1;
        transform: scale(4);
    }
    31% {
        opacity: 0;
        transform: scale(4.1);
    }
    32% {
        opacity: 1;
        transform: scale(4.2);
    }
    33% {
        opacity: 0;
        transform: scale(4.3);
    }
    34% {
        opacity: 1;
        transform: scale(4.4);
    }
    35% {
        opacity: 0;
        transform: scale(4.5);
    }
    36% {
        opacity: 1;
        transform: scale(4.6);
    }
    37% {
        opacity: 0;
        transform: scale(4.7);
    }
    38% {
        opacity: 1;
        transform: scale(4.8);
    }
    39% {
        opacity: 0;
        transform: scale(4.9);
    }
    40% {
        opacity: 1;
        transform: scale(5);
    }
    41% {
        opacity: 0;
        transform: scale(5.1);
    }
    42% {
        opacity: 1;
        transform: scale(5.2);
    }
    43% {
        opacity: 0;
        transform: scale(5.3);
    }
    44% {
        opacity: 1;
        transform: scale(5.4);
    }
    45% {
        opacity: 0;
        transform: scale(5.5);
    }
    46% {
        opacity: 1;
        transform: scale(5.6);
    }
    47% {
        opacity: 0;
        transform: scale(5.7);
    }
    48% {
        opacity: 1;
        transform: scale(5.8);
    }
    49% {
        opacity: 0;
        transform: scale(5.9);
    }
    50% {
        opacity: 1;
        transform: scale(6);
    }
    51% {
        opacity: 0;
        transform: scale(6.1);
    }
    52% {
        opacity: 1;
        transform: scale(6.2);
    }
    53% {
        opacity: 0;
        transform: scale(6.3);
    }
    54% {
        opacity: 1;
        transform: scale(6.4);
    }
    55% {
        opacity: 0;
        transform: scale(6.5);
    }
    56% {
        opacity: 1;
        transform: scale(6.6);
    }
    57% {
        opacity: 0;
        transform: scale(6.7);
    }
    58% {
        opacity: 1;
        transform: scale(6.8);
    }
    59% {
        opacity: 0;
        transform: scale(6.9);
    }
    60% {
        opacity: 1;
        transform: scale(7);
    }
    61% {
        opacity: 0;
        transform: scale(7.1);
    }
    62% {
        opacity: 1;
        transform: scale(7.2);
    }
    63% {
        opacity: 0;
        transform: scale(7.3);
    }
    64% {
        opacity: 1;
        transform: scale(7.4);
    }
    65% {
        opacity: 0;
        transform: scale(7.5);
    }
    66% {
        opacity: 1;
        transform: scale(7.6);
    }
    67% {
        opacity: 0;
        transform: scale(7.7);
    }
    68% {
        opacity: 1;
        transform: scale(7.8);
    }
    69% {
        opacity: 0;
        transform: scale(7.9);
    }
    70% {
        opacity: 1;
        transform: scale(8);
    }
    71% {
        opacity: 0;
        transform: scale(8.1);
    }
    72% {
        opacity: 1;
        transform: scale(8.2);
    }
    73% {
        opacity: 0;
        transform: scale(8.3);
    }
    74% {
        opacity: 1;
        transform: scale(8.4);
    }
    75% {
        opacity: 0;
        transform: scale(8.5);
    }
    76% {
        opacity: 1;
        transform: scale(8.6);
    }
    77% {
        opacity: 0;
        transform: scale(8.7);
    }
    78% {
        opacity: 1;
        transform: scale(8.8);
    }
    79% {
        opacity: 0;
        transform: scale(8.9);
    }
    80% {
        opacity: 1;
        transform: scale(9);
    }
    81% {
        opacity: 0;
        transform: scale(9.1);
    }
    82% {
        opacity: 1;
        transform: scale(9.2);
    }
    83% {
        opacity: 0;
        transform: scale(9.3);
    }
    84% {
        opacity: 1;
        transform: scale(9.4);
    }
    85% {
        opacity: 0;
        transform: scale(9.5);
    }
    86% {
        opacity: 1;
        transform: scale(9.6);
    }
    87% {
        opacity: 0;
        transform: scale(9.7);
    }
    88% {
        opacity: 1;
        transform: scale(9.8);
    }
    89% {
        opacity: 0;
        transform: scale(9.9);
    }
    90% {
        opacity: 1;
        transform: scale(10);
    }
    91% {
        opacity: 0;
        transform: scale(10.1);
    }
    92% {
        opacity: 1;
        transform: scale(10.2);
    }
    93% {
        opacity: 0;
        transform: scale(10.3);
    }
    94% {
        opacity: 1;
        transform: scale(10.4);
    }
    95% {
        opacity: 0;
        transform: scale(10.5);
    }
    96% {
        opacity: 1;
        transform: scale(10.6);
    }
    97% {
        opacity: 0;
        transform: scale(10.7);
    }
    98% {
        opacity: 1;
        transform: scale(10.8);
    }
    99% {
        opacity: 0;
        transform: scale(10.9);
    }
    100% {
        opacity: 1;
        transform: 1;
    }
}

.strobe {
    animation-timing-function: ease-in-out;
    animation-name: strobe;
    animation-duration: 6s;
}

@keyframes twister {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(360deg);
    }
    20% {
        transform: rotateZ(720deg);
    }
    30% {
        transform: rotateZ(1080deg);
    }
    40% {
        transform: rotateZ(1440deg);
    }
    50% {
        transform: rotateZ(1800deg);
    }
    60% {
        transform: rotateZ(2160deg);
    }
    70% {
        transform: rotateZ(2520deg);
    }
    80% {
    }
    90% {
    }
    100% {
    }
}

.twister {
    animation-name: twister;
    animation-duration: 5s;
    z-index: 1000;
}
